.one{
    height: 500px;
    width: 500px;
    background-color: aqua;
    border: 10px;
    border-style: solid;
    border-color: brown;
    margin: 10px;
    outline-style: solid;
    outline-color: blue;
    outline-width: 10px;
    outline-offset: 3px
    
}


ol li{
    display: inline;
    background-color: aqua;
    height: 90px;
    width: 90px;
}

a{
    display: block;
}

ul li{
    display: inline-block;
    background-color: aqua;
    height: 90px;
    width: 150px;
}

h1{
    display: none;
}